@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");
body{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-around;
    font-size: large;
    margin-top: 2%;
    font-family: "Comfortaa";
}
a{
    color: #25282B;
    text-align: center;
    text-decoration: none;
    font-family: "Raleway";
    
}
a:hover{
    color: orangered;
}
.about{
    border-bottom: 3px solid #25282B;
}
.name{
    flex-grow: 0.5;
    font-weight: 600;
}
#Ruweydha{
    width: 30%;
    clip-path: circle();
    float: right;
    margin-right: 5%;
}
h3{
    color: orangered;
    padding-top: 5%;
    margin-left: 5%;
}
h1{
    font-family: "Playfair Display";
    margin-left: 5%;
    width: 50%;
    color: #333333;
    font-size: 64px;
    line-height: 76.8px;
}