@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");
@import url("https://fonts.googleapis.com/css?family=Nunito");
/* @import url("https://fonts.googleapis.com/css?family=Roboto"); */
body{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-around;
    font-size: large;
    margin-top: 2%;
    font-family: "Comfortaa";
}
a{
    color: #25282B;
    text-align: center;
    text-decoration: none;
    font-family: "Raleway";
    
}
a:hover{
    color: orangered;
}
.about{
    border-bottom: 3px solid #25282B;
}
.name{
    flex-grow: 0.5;
}
#Ruweydha{
    width: 35%;
    clip-path: circle();
    float: right;
    margin-right: 5%;
}
h3{
    color: orangered;
    padding-top: 12%;
    margin-left: 5%;
}
h1{
    font-family: "Playfair Display";
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    color: #333333;
    font-size: 64px;
    line-height: 76.8px;
}
p{
    font-family: "Nunito";
    margin-left: 5%;
    line-height: 36px;
    font-size: larger;
    color: #828282;
}
h2{
    clear: both;
    font-family: "Playfair Display";
    text-align:center;
    color: #25282B;
    font-size: 48px;
    line-height: 72px;
}
span{
    text-decoration: underline 5px solid orangered;
}
.project1, .project2, .project3{
    display: flex;
    justify-content: space-around;
    margin: 10%;
    margin-top: 2%;
    box-shadow: 5px 5px 5px grey;
}
.writing, .image{
    width: 50%;
}
#landing, #photography, #food{
    width: 100%;
    height: 100%;
}
button{
    height: 43px;
    width: 150px;
    margin: 5%;
    margin-top: none;
    border: none;
    border-radius: 24px;
    padding: 8px, 24px, 8px, 24px;
    font-family: "Roboto";
     
}
#heading{
    text-decoration: 5px solid orangered underline;
}
#socials{
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
}
footer{
    font-size: x-large;
    text-align: center;
    font-family: "Roboto";
    margin-top: 1%;
    color: orangered;
}